*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Ovo";
  color:white;
  
}

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: black;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-section a, .logo h3{
  color:white;
  text-decoration: none;
  font-family: "Poppins";
}
.header-section a{
  font-size: 16px;
  margin-left:47px;
}

.header-section{
  width:100%;
  height:72px;
  background-color: black;
  display:flex;
  align-items: center;
  justify-content: space-between;
  top:0;
  position:fixed;
  z-index: 1000;
}
.nav-container{
  display:flex;
  align-items: center;
  margin-left: 150px;
}
.contact-container{
  margin-right:150px;
}

.contact-button{
  width:109px;
  height: 47px;
  background:none;
  color:white;
  border: 1px solid white;
  font-family: "Poppins";
}

.hero-section{
  width:100%;
  height:695px;
  background-image:url("../images/Hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-section h1{
  font-size: 96px;
  font-weight:400;
  color:white;
}

.hero-section p{
  color:white;
  font-size:24px;
}

.hero-section .book-button{
  background:none;
  border: 1px solid white;
  width:221px;
  height:64px;
  color:white;
  font-size:32px;
  margin-top: 19px;
}
.experience-section{
  display:flex;
  width:100%;
  justify-content: center;
  align-content: center;
  margin-top:38px;
  height:622px;
}

.exp-title{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.experience-section h2{
  font-size: 48px;
  font-weight: 400;
}

.experience-section p{
  width:521px;
  font-size:24px;
  margin-top:25px;
}

.exp-choices{
  display:flex;
  margin-top:42px;
  width:1142px;
  justify-content: space-between;
  align-items: center;
}

.Accomodations, .Attractions, .Foods{
  height:447px;
  width:327px;
  text-decoration: none;
  position:relative;
  border: 1px solid white;
  z-index: 1;
  
  }

  .Accomodations{
    background-image:url("../images/accomodation.png") ;
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
  }
  
  .Attractions{
    background-image:url("../images/attraction.png") ;
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
  }
  
  .Foods{
    background-image:url("../images/Dining.png") ;
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
  }

  .Accomodations  p, .Attractions  p, .Foods  p{
    font-size: 24px;
    font-family: "Poppins";
    text-decoration: none;
    color:white;
    bottom:0%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
  }

  .Accomodations  p{
    width:192px;
  }
  .Attractions  p{
    width:132px;
  }
  .Foods  p{
    width:72px;
  }
.feature1-section{
  width:1154px;
  height:667px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-top:206px;
}

.hammock-image{
  width:445px;
  height:667px;
  background-image: url(../images/Relax1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid white;

}
.feature1-subcontainer{
  width:655px;
  height:667px;
  display: flex;
align-items: end;
  text-align: right;
  flex-direction: column;
  justify-content: space-between;

}

.feature1-title h3{
  width:439px;
  height:144px;
  font-weight:400;
  font-size:64px;

}

.hammock-image2{
  width:645px;
  height:246px;
  background-image: url(../images/Relax2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid white;


}

.feature1-title{
  display:flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
  width:463px;
  height:295px;
  /*margin-left: 210px;*/
}

.feature1-title p{
  width:463px;
  height:108px;
  text-align: right;
  margin-top:43px;
  font-size: 24px;
}

.feature2-section{
  width:1144px;
  height:489px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-top:322px;
}

.camp-title{
  width:406px;
  height:274px;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-between;
}

.camp-title h3{
  width:353px;
  font-size: 64px;
  font-weight:400;
}

.camp-title p{
  font-size:24px;
  width:401px;
}

.camp-img{
  width:668px;
  height:489px;
  background-image:url("../images/camp.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:1px solid white;
}


