*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Ovo";
  color:white;
  
}

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: black;
}

.header-section a, .logo h3{
  color:white;
  text-decoration: none;
  font-family: "Poppins";
}
.header-section a{
  font-size: 16px;
  margin-left:47px;
}

.header-section{
  width:100%;
  height:72px;
  background-color: black;
  display:flex;
  align-items: center;
  justify-content: space-between;
  top:0;
  position:fixed;
}
.nav-container{
  display:flex;
  align-items: center;
  margin-left: 150px;
}
.contact-container{
  margin-right:150px;
}

.contact-button{
  width:109px;
  height: 47px;
  background:none;
  color:white;
  border: 1px solid white;
  font-family: "Poppins";
}

.hero-section{
  width:100%;
  height:695px;
  background-image:url("/images/Hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-section h1{
  font-size: 96px;
  font-weight:400;
  color:white;
}

.hero-section p{
  color:white;
  font-size:24px;
}

.hero-section .book-button{
  background:none;
  border: 1px solid white;
  width:221px;
  height:64px;
  color:white;
  font-size:32px;
  margin-top: 19px;
}
.experience-section{
  display:flex;
  width:100%;
  justify-content: center;
  align-content: center;
  margin-top:38px;
  height:622px;
}

.exp-title{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.experience-section h2{
  font-size: 48px;
  font-weight: 400;
}

.experience-section p{
  width:521px;
  font-size:24px;
  margin-top:25px;
}

.exp-choices{
  display:flex;
  margin-top:42px;
  width:1142px;
  justify-content: space-between;
  align-items: center;
}

.Accomodations, .Attractions, .Foods{
  height:447px;
  width:327px;
  text-decoration: none;
  position:relative;
  border: 1px solid white;
  
  }

  .Accomodations{
    background-image:url("/images/accomodation.png") ;
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
  }
  
  .Attractions{
    background-image:url("/images/attraction.png") ;
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
  }
  
  .Foods{
    background-image:url("/images/Dining.png") ;
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
  }

  .Accomodations  p, .Attractions  p, .Foods  p{
    font-size: 24px;
    font-family: "Poppins";
    text-decoration: none;
    color:white;
    bottom:0%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
  }

  .Accomodations  p{
    width:192px;
  }
  .Attractions  p{
    width:132px;
  }
  .Foods  p{
    width:72px;
  }